---
layout: main.liquid
title: HEX
---

<h2 class="f4 fw8">
  <span aria-hidden="true" class="f3 mr2">&#11820;</span>
  文章列表
</h2>

<div class="nested-list-reset">
<ul class="gap4 flex flex-column mt0">
{% for post in collections.post %}
  <li class="bb pv4">
    <div class="mb3">
      <h3 class="f4"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
      作者 {% for author in post.data.authors %}<a class="fw6">{{ author }}</a> {% endfor %}．
      {{ post.data.date | date: "%Y 年 %m 月 %d 日" }}
    </div>
    {{ post.data.excerpt }}
  </li>
{% endfor %}
</ul>
</div>